@charset "UTF-8";



.custom-bg{
	background: #2196F3!important;
}
.admin .card{
	border:1px solid #2196F3;
}
.admin .card:hover{
	background:  #2196F3;
	cursor: pointer;	
}
.offcanvas.offcanvas-start{
	top: 56px;
	width: 200px;
}


	#sideBar{
		position: absolute;
		height: 50px; 
		width: 50px;
		top: 50%;
		margin: 5px;
		padding: 0px !important;
	}
	
	#sideBar img{
		width: 100%;
		height: 100%;
	}
	
